@model IEnumerable<theWorld.Models.Trip>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>Welcome to Jai Sai Ram Mandir</h1>
        <p>This app will allow you t plan for world trips</p>
        <a asp-controller="App" asp-action="trips" class="btn btn-lg btn-success">View my Trips</a>
    </div>
</div>